/.dart_tool/
/.idea/
/build/
/.vscode/

/.flutter-plugins
/.flutter-plugins-dependencies
/.packages
/ios/Podfile
/pubspec.lock

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
